@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}
header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    margin: 1rem;
    font-family: 1.5em;
    color: navy;
    text-align: center;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0,1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: block;
}
label, input, button, select, textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
.question   {
    margin: 0   auto;
    padding: 10px;

}
.question input, textarea, select, button{
    width: 100%;
    height: auto;
}
button {
    background-color: slateblue;
    border: none;
}
