.callout {
	width: 500px;
	margin: 12px;
	border: 1px solid rgba(243, 241, 241, 0.886);
	padding: 10px;
	background-color: rgba(9, 102, 241, 0.854);
	color: #e4dcdc57;
}

.callout img {
	float: right;
	margin: 0 0 10px 15px;
	border: 1px solid #191616a2;
	padding: 3px;
	background-color: #f1ececde;
	width: 100px;
	height: auto;
	
}

blockquote {
	margin: 0;
}

cite {
	display: block;
	border-top: 1px dotted #eed2d2c8;
	padding-top: 3px;
	text-align: right;
	font-size: smaller;
}